.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* position: relative; */
}

#goals {
    /* width: 35rem; */
    width: 100%;
    /* max-width: 90%; */
    margin: 3rem auto;
    position: absolute;
}

#goal-form {
    width: 30rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 10px;
}
.sec-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}