.navbar{

    height: 50px;
    width: 100%;
    background-color: #b70303;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    /* max-width: 1224px; */
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 700;   
    /* position: fixed; */
    top: 10px;

}

.logo{
    margin: 1rem;
    font-size: 20px;

}
.navItems{
    margin: 1rem;
}
.navButton{
    /* margin-left: 20px; */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color:#ffffff; 
    font-size: 15px;
    font-weight: 700;  
    background: none; 
}