/* .container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;

  
} */

/* box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); */

/* height: 50vh; */
/* display: flex;
justify-content: center;
align-items: center;
text-align: center; */